@font-face {
    font-family: AlegreSans-Regular;
    src: url(../Fonts/AlegreSans-Regular.ttf);
}

@font-face {
  font-family: LUZRO;
  src: url("../Fonts/LUZRO.ttf");
}

@font-face {
  font-family: MizoArial;
  src: url("../Fonts/MizoArial.ttf");
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Altura qualquer */
  top: 0;
  background-color: #E0E0E0;
}

header {
  background-color: #111E35;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 4px #000;
  font-family: AlegreSans-Regular;
}

.navbar {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 1%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  line-height: 50px;
  margin-right: 60px;
  margin-top: 3px;
  transition: 0.5s ease;
  color: white;
}

.navbar .nav .item a {
  text-shadow: 2px 2px 3px #000;
  text-decoration: none;
  color: inherit;
}

.navbar .nav .item:hover{
  color: #F5A503;
}

.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 2%;
  padding: 3px;
  transition: 0.5s ease;
}

.navbar .logo img {
  height: 30px;
}

.banner {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 800px;
  background-image: url("../Imgs/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.banner .layer {
  padding: 0px; 
  margin: 0px;
  width: 100%;
  height: 800px;
  background-color: rgba(17, 30, 53, 0.66);
}

.big_logo {
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 30%;

}

.big_logo img{
  height: 100%;
  width: 100%;
  max-width: 350px;
}

.big_logo_title {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  color: white;
  font-family: LUZRO;
}

.big_logo_title h1 {
    font-size: 30px;
}

.big_logo_subtitle {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: LUZRO;
 }

.big_logo_subtitle h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

.convida_servicos {
  display: block;
  margin-top: 70px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background-color: #111E35;
  font-family: AlegreSans-Regular;
  border-radius: 20px;
  height: 54px; 
  transition: 200ms;
}

.convida_servicos:hover {
  background-color: #F2F2F2;
  color: #111E35;
  transform: scale(1.02);
  cursor: pointer;

}

.convida_servicos h3 {
  padding-top: 14px;
  font-size: 22px;
  letter-spacing: 4px;
}

/* */

.blank {
  width: 100%;
  height: 1000px;
  background-color: #E0E0E0;
}

.contato_over_bckg {
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
  border-radius: 100% 100% 0% 0%;
}

.contato_container {
  width: 100%;
  height: 700px;
  background-color: #F2F2F2;
}

.contato_container h2{
  font-size: 35px;
  font-family: AlegreSans-Regular;
  color: #111E35;
  padding: 0;
  line-height: 40px;
  border-bottom: 3px solid orange;
  letter-spacing: 3px;
}

.contato_label {
  padding: 0;
  display: flex;
  justify-content: center;
}

.contato {
  height: 480px;
  width: 70%;
  background-color: #111E35;
  box-shadow: 0px 2px 4px #000;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.formulario {
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; 
  margin-top: auto;
  margin-bottom: auto;
  width: 45%;
  height: 380px;
}

.form_item {
  width: 100%;
}

input, textarea {
  font-family: MizoArial;
  letter-spacing: 1px;
  padding-left: 1%;
  margin-left: 5%;
  width: 90%;
  height: 30px;
  box-shadow: 0px 2px 4px #000;
  background-color: #F1F1F1;
  border: none;
  border-radius: 2px;
}

#mensagem_center textarea{
  height: 120px;
  padding-top: 10px; 
}

#enviar{
  width: 100px;
  float: right;
  font-family: AlegreSans-Regular;
  font-size: 23px;
  height: 40px;
  letter-spacing: 2px;
  color: #111E35;
  background-color: orange;
  cursor: pointer;
  transition: 200ms;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #000;
}

#enviar:hover{
  background-color: #F2F2F2;
  transform: scale(1.01);
}

.map {
  width: 45%;
  height:380px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #000;
}

footer {
  width: 100%;
  height: 170px;
  padding: 0;
  background-color: #111E35;
  box-shadow: -1px -2px 4px #000;
  font-family: LUZRO;
  color: white;
}

.footer_icons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.footer_icons a img{
  width:32px;
  height:32px;
}

#facebook_icon {
  margin-right: 15px;
  margin-left: 15px;
}

#instagram_icon {
  margin-right: 15px;
  margin-left: 15px;
}


.footer_icons a {
  display:block;
  width:32px;
  height:32px;
}

.footer_contact {
  margin-top: 5px;
  clear: both;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  line-height: 6px;
}

.footer_contact p {
  margin-right:16px;
  margin-left: 16px;
}

.footer_autoral {
  margin-left: 30px;
}

.footer_endereco {
  text-align: center;
  line-height: 2px;
}

@media (max-width: 800px){
  .big_logo img{
    width: 240px;
  }
  .big_logo_title{
    width: 80%;
  }
  .big_logo_subtitle{
    width: 60%
  }
}

@media (max-width: 500px){
  .banner{
    height: 650px
  }
  .banner .layer{
    height: 650px
  }
  .big_logo img{
    width: 200px;
  }
  .big_logo_title h1{
    font-size: 22px
  }
  .big_logo_subtitle h2{
    font-size: 19px
  }
  .convida_servicos{
    margin-top: 20px;
    width: 210px;
    height: 48px;
  }
  .convida_servicos h3{
    font-size: 18px;
    letter-spacing: 2px;
  }
}