<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
	<div class="antes">
    </div>
    <div class="nossa_historia">
        <div class="back_hist">
            <div class="clippy"></div>
        </div>
        <div class="content_hist">
            <div class="header">
                <h1>NOSSA HISTÓRIA</h1>
                <div id="underline_titulo"></div>
            </div>
            <div class="historias">
                <div class="seta">
                    <div class="reta"></div>
                    <div class="triangulo"></div>
                </div>
                <div class="circulos">
                    <div class="circulo1">
                        <button type="button" class="tab1">                            
                            <div class="bloco1">
                                <div class="header_bloco">
                                    <h2>2011</h2>
                                </div>
                                <div class="content">
                                    <p> O que aconteceu no ano de 2011, foi importante para nossa empresa.</p>                                    </div>
                            </div>
                        </button>
                    </div>
                    <div class="circulo2">
                        <button type="button" class="tab2">                            
                            <div class="bloco2">
                                <div class="header_bloco">
                                    <h2>2012</h2>
                                </div>
                                <div class="content">
                                    <p> O que aconteceu no ano de 2012, foi importante para nossa empresa.</p>                                    </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="blocos">
                </div>
            </div>
        </div>
    </div>
    <div class="depois">
		
    </div>

</body>
</html>