<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Recon Jr</title>
	<link rel="shortcut icon" href="https://scontent.frec10-1.fna.fbcdn.net/v/t1.0-9/11903825_892163797497313_1265246069577454465_n.jpg?_nc_cat=0&oh=53c0b06513d64c134be8c90ba19f6180&oe=5B645910"/>
	<meta name="viewport" content="widht=device-widht, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="Style/style.css"/>
	<script src="Js/animation.js"></script>
</head>
<body>
	<!-- Navbar -->
	<header>
      <div class="navbar">

        <ul class="nav">
          <li class="item">
            <a href="#">INÍCIO</a>
          </li>

          <li class="item">
            <a href="#">SOBRE NÓS</a>
          </li>

          <li class="item">
            <a href="#">SERVIÇOS</a>
          </li>

          <li class="item">
            <a href="#" class="contact">CONTATO</a>
          </li>
        </ul>

        <div class="logo">
          <img src="images/Recon-de-lado2.png">
        </div>

      </div>  
    </header>
    <!-- End of navbar -->
    <!-- Banner -->
    <div class="banner">
    	<div class="layer">
    		<div class="big_logo">
    			<img src="images/logo2.png">
    		</div>
    		<div class="big_logo_title">
    			<h1>Texto chamativo aqui Texto chamativo aqui Texto chamativo aqui</h1>
    		</div>
    		<div class="big_logo_subtitle">
    			<h2>Nos contrate Nos contrate Nos contrate</h2>
    		</div>
    		<div class="convida_servicos">
    		<h3>Conheça nossos serviços<h3>
    		</div>
    	</div>
    </div>
    <!-- End of banner -->
    	<div class="antes">
    </div>
    <div class="nossa_historia">
        <div class="back_hist">
            <div class="clippy"></div>
        </div>
        <div class="content_hist">
            <div class="header">
                <h1>NOSSA HISTÓRIA</h1>
                <div id="underline_titulo"></div>
            </div>
            <div class="historias">
                <div class="seta">
                    <div class="reta"></div>
                    <div class="triangulo"></div>
                </div>
                <div class="circulos">
                    <div class="circulo1">
                        <button type="button" class="tab1">                            
                            <div class="bloco1">
                                <div class="header_bloco">
                                    <h2>2011</h2>
                                </div>
                                <div class="content">
                                    <p> O que aconteceu no ano de 2011, foi importante para nossa empresa.</p>    
             	                </div>
                            </div>
                        </button>
                    </div>
                    <div class="circulo2">
                        <button type="button" class="tab2">                            
                            <div class="bloco2">
                                <div class="header_bloco">
                                    <h2>2012</h2>
                                </div>
                                <div class="content">
                                    <p> O que aconteceu no ano de 2012, foi importante para nossa empresa.</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="blocos">
                </div>
            </div>
        </div>
    </div>
    <div class="depois">
		
    </div>
    <!-- As divs com classe bank sao para a edicao so site somente -->
    <div class="blank"></div>
    <div class="contato_over_bckg"></div>
    <div class="contato_container">
    	<div class="contato_label"><h2>CONTATO</h2></div>
    	<div class="contato">
    		<div class="formulario">
    			<form="dados">
				 	<div class="form_item"><input type="text" name="nome" placeholder="Nome"></div>
				 	<div class="form_item"><input type="text" name="email" placeholder="Email"></div>
				 	<div class="form_item"><input type="text" name="telefone" placeholder="Telefone"></div>
				 	<div class="form_item" id="mensagem_center"><textarea name="mensagem" placeholder="Digite a sua mensagem aqui"></textarea></div>
				 	<div class="botao_enviar">
            <input type="submit" id="enviar" value="Enviar">
          </div>
				</form>
    		</div>
    		<div class="map" ><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.0455270829282!2d-39.25408599814721!3d-12.966025091109662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2a7e7d39bb6e662!2sRECON+Jr.+-+Solu%C3%A7%C3%B5es+em+Consultoria+Empresarial!5e0!3m2!1spt-BR!2sbr!4v1528842874390" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    	</div>
    </div>
	<footer>
		<div class="footer_icons">
			<a href="" id="facebook_icon"><img src="images/facebook-square.png"></a>
			<a href="" id="instagram_icon"><img src="images/instagram.png"></a>
		</div>
		<div class="footer_contact">
			<p>reconjr@gmail.com</p>
			<p>(XX) XXXX-XXXX</p>
		</div>
		<div class="footer_endereco">
			<p>localizacao localizacao localizacao localizacao Recife - PE</p>
		</div>
		<div class="footer_autoral">
			<p>Copyright 2018 &copy; CITi</p>
		</div>
		</div>
	</footer>
</body>
</html>