body,html{
    margin: 0px;
    border: 0px;
    padding: 0px;
}


.nossa_historia{
    display: flex;
    width:100%;
    height: 500px;
    background-color:#111E35 ;
}

.back_hist{
	position:absolute;
	z-index: 0;
	width:100%;
    height:500px;
    background-image: url(images/equipe_reconjr.png);
    max-height: 500px;
}
.clippy{
    position:relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-clip-path: ellipse(53% 6% at 50% 0%);
    clip-path: ellipse(53% 6% at 50% 0%);
    background-color:#F2F2F2;
}

.content_hist{
    position:absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
    color: white;
}

.content_hist .header{
    margin-top:40px;
    height: 80px;
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.content_hist .header h1{
    margin-bottom: 0px;
    font-size:2.5em;
    font-family:'titulo';
    letter-spacing:3px;

}

#underline_titulo{
    display: flex;
    height: 5px;
    width:200px;
    background-color: orange;
}

.historias{
    height: 250px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.seta{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 15px;
    width:65% ;
}
.reta{
    margin-top:7px;
    display:flex;
    height: 5px;
    width: 90%;
    background-color: #F2F2F2;
}
.triangulo{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #F2F2F2;
	border-bottom: 10px solid transparent;
}

.circulos{/*Aqui ficarão todos as historias*/
    position:absolute;
    justify-content: center;
    display:flex;
    height: 20px;
    width: 100%;
}
.circulo1{
    position:relative;
    right: 200px;
    z-index:1;
    height: 20px;
    width: 20px;
    background-color: #F5A503;
    border-radius: 50%;
    right: 300px;

}

.circulo1:hover .bloco1{
    display:block;
}

.bloco1{
    position:relative;
    top:23px;
    left:5px;
    z-index:5;
    border-radius: 2%;
    background-color:#FFFFFF;
    width:310px;
    height:180px;
    position:relative;
    right: 150px;
    display:none;
}

.header_bloco h2{
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 1.5em;
    font-family:'titulo';
    letter-spacing:3px;
}

.header_bloco{
    padding-left: 10px;
    padding-top:2px;
    padding-bottom:2px;
    width:300px;
    height:30px;
    background-color: #F5A503;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.content{
    color:#041733;
    padding-left:10px;
    font-family:"conteudo";
    width: 300px;
    height: 135px;

}
/* com 100px de width precisamos mudar a localização das bolas da historia*/

/*fontes*/
@font-face {
    font-family: 'conteudo';
    font-style: normal;
    font-weight: normal;
    src: local('LuzSans-Book'), url('fonts/LUZRO.woff') format('woff');
    }

@font-face {
    font-family:"titulo";
    src:url("fonts/Al__gre_Sans.eot?") format("eot"),
        url("fonts/Al__gre_Sans.woff") format("woff"),
        url("fonts/Al__gre_Sans.ttf") format("truetype"),
        url("fonts/Al__gre_Sans.svg#AlegreSans") format("svg");
    font-weight: bold;
    font-style:normal;

}
/* para remover*/

.antes{
	width: 100%;
	height: 30vh;
	background-color: #F2F2F2; 
}

.depois{
	width: 100%;
	height: 30vh;
	background-color: #111E35;
} 